parameters:
    facebook:
        appId: '123456789'
        appSecret: '987654321'
        callbackURL: 'http://www.muj-web.cz/homepage/facebook-login'
        defaultFbGraphVersion: 'v2.11'
    google:
        clientId: '123456789'
        clientSecret: '987654321'
        callbackURL: 'http://www.muj-web.cz/homepage/google-login'
    twitter:
        consumerKey: '123456789'
        consumerSecret: '987654321'
        callbackURL: 'http://www.muj-web.cz/homepage/twitter-login'

services:
    - VencaX\SocialLogin({ facebook: %facebook%, google: %google%, twitter: %twitter% }, 'domain-social-login' )